{% extends 'base.html.twig' %}

{% block title %}Hello ContentController!{% endblock %}

{% block body %}
<section id="about" style="margin-top: 30px;">
    <div class="container-fluid">
        <header class="section-header"><h3>About Us</h3></header>
        <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
                <img src="img/about-extra-1.svg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <h4>I am an experienced Software Developer with a Master degree in Computer science.</h4>
                <p>
                    I have worked for many big companies in London, operating in different sectors (EbpGroup, Sotic, Quidco, Financial Times, Yoti, and THG), using the latest technologies, PHP, MySQL, Laravel 5, Symfony 4.
                </p>
                <p>
                    Beside programming, I like using some DevOps tools, like Docker and I am also certified in AWS -CSA (Certified Solution Architect),
                </p>
                {{ about_us }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
