{% extends 'base.html.twig' %}

{% block title %}New Quote{% endblock %}

{% block body %}
<main id="main">
<section id="contact" class="clearfix">
    <div class="container-fluid">
        <div class="section-header" style="margin-top:30px;padding-top:5px;">
            <h3>Request a Quote for your project</h3>
        </div>
        {% if errorMsg %}
            <div class="alert alert-danger" role="alert">
                {{ errorMsg }}
            </div>
        {%  endif %}
        <div class="col-lg-6" style="margin: auto; margin-bottom: 15px; padding-left: 0">
            <strong>Fields marked with * are required!</strong>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-lg-6" style="margin: auto;">
                <form action="/new-quote" method="POST" role="form" data-toggle="validator">
                    <div class="form-group error">
                        <label for="emailAddress">Email address *</label>
                        <input type="email" class="form-control col-sm-8" id="emailAddress" name="emailAddress"
                               aria-describedby="emailHelp" placeholder="Enter email" required="true">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <label for="firstName">First Name *</label>
                        <input type="text" class="form-control col-sm-8" id="firstName" name="firstName" placeholder="First Name" required="true">
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control col-sm-8" id="lastName" name="lastName" placeholder="Last Name">
                    </div>

                    <div class="form-group">
                        <label for="company">Company Name (if you are a business)</label>
                        <input type="text" class="form-control col-sm-8" id="company" name="company" placeholder="Company Name">
                    </div>

                    <div class="form-group">
                        <label for="subject">Subject *</label>
                        <input type="text" class="form-control col-sm-8" id="subject" name="subject" placeholder="Subject" required="true">
                    </div>
                    <div class="form-group">
                        <label for="description">Project Description *</label>
                        <textarea class="form-control col-sm-8" id="description" name="description" rows="10" required="true"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        {#<div class="form-group">#}
            {#{{ include('quote/_form.html.twig') }}#}
        {#</div>#}
    </div>
</section>
</main>
{% endblock %}
